.nav-bar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    height: 44px;
    line-height: 44px;
    /*box-shadow: 0 1px 1px #f9f9f9;*/
    text-align: center;
    /*border: 1px solid #ccc;*/
    /*margin-bottom: 10px;*/
    background-color: #f9f9f9;
}
.left{
    width: 60px;
}
.center{
    flex: 1;
    /*text-align: center;*/
    display: flex;
    justify-content: space-evenly;
}
.center span{
    flex: 1;
}
.right{
    width: 60px;
}